<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>This simulation was made to simulate how the proyect would execute in a real arquitecture.</p>
    </div>
</section>

<div class="jumbotron mt-4">
    <h1 class="display-4">InJK con Node y MongoDB</h1>
    <p class="lead">
        Nuestro proyecto de una página de memes para base de datos distribuidas utilizando MongoDB
    </p>
    <hr class="my-4">
    <p>
        Esperamos sea de su agrado
    </p>
</div>